* {
    margin: 0;
    padding: 0;
}


.intro-section {
    margin: 60px auto;
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width:50%;
    border-radius: 20%;
    /* flex: 1; */
}

.image img {
    width: 100%;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.intro-content{
    padding: 1.2rem;;
}